@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'Jua', sans-serif;
}

.contactbackground {
    background-image: url('../../public/img/Contact1.jpg');
    background-size: cover;
    width: auto;
    height: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content span {
    color: white;
    font-size: 30px;
}

.content div {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.copyright {
  text-align: end;
  margin: 0 10px;
}

.linktitle {
    font-size: 15px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 10px;
}