.introbackground {
  background-image: url('../../public/img/Intro1.jpg');
  background-size: cover;
  width: auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: brown;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.copyright {
  text-align: end;
  margin: 0 10px;
}

.linktitle {
  font-size: 15px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 8px;
}