@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: 'Jua', sans-serif;
}

.firstbg {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    position: relative;
}

.downloadbg {
  background-image: url(../../public/img/Download.jpg);
  background-size: cover;
  width: auto;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.copyright {
    text-align: end;
    margin: 0 10px;
}

video {
    width: 100%;
}

.text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text span {
    color: #F2A1CE;
    text-align: center;
    font-size: 75px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content span {
  color: #F2A1CE;
  text-align: center;
  font-size: 50px;
}